# Starting with Jupyter Notebooks
* To start Jupyter Notebook, navigate to the correct directory and run 'Jupyter Notebook' in the terminal
***

In [1]:
print('hello world')

hello world

***
## Numbers

In [1]:
1/2

0.5

### Variable Assignments

In [4]:
my_free_time = 5
my_free_time*2

10

In [8]:
hobbies = ['markers', 'golf', 'games']
hobbies.count

In [9]:
a = 4

In [10]:
a + a

8

In [13]:
a = a + a

In [15]:
a

16

In [16]:
type(a)

int

In [17]:
b = 4.4

In [18]:
type(b)

float

In [19]:
c = a + b

In [20]:
c

20.4

In [21]:
type(c)

float

* adding an int to a float will generate a float

In [23]:
my_var = 120 
tax = 0.1
m_taxes = my_var * tax
m_taxes

12.0

## Strings

Index and slicing key definitions. Strings are a character list in python. Can grab single character by using index. Can perform reverse indexing by using negative ints. Slicing has syntax [start:stop:step]. Step is size of jump you take. Start and stop are indices

In [24]:
'howdy there partner'

'howdy there partner'

In [26]:
'Use \' escape characters which are the same in python' "Or use double quotes to prevent ' from ruining strings"

"Use ' escape characters which are the same in pythonOr use double quotes to prevent ' from ruining strings"

In [27]:
print('first statement')
print('second statement')

first statement
second statement

In [29]:
print('first line \nsecond line')

first line
second line

In [30]:
len('hello')

5

In [31]:
my_string = 'I am so fat right now'

In [32]:
len(my_string)

21

In [33]:
my_string

'I am so fat right now'

In [34]:
my_string[5]

's'

In [35]:
my_string[0:5:1]

'I am '

In [36]:
my_string[0:5:2]

'Ia '

In [37]:
my_string[-5]

't'

In [38]:
my_string = 'IAmSoFatRightNow'

In [42]:
my_string[3:]

'SoFatRightNow'

In [41]:
my_string[:5]

'IAmSo'

In [44]:
my_string[3:8]

'SoFat'

In [45]:
my_string.capitalize()

'Iamsofatrightnow'

In [46]:
my_string[::3]

'ISaitw'

In [47]:
my_string[::-1]

'woNthgiRtaFoSmAI'

In [48]:
name = 'Sam'

In [49]:
2 + '3'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [50]:
x = 'Howdy There'

In [51]:
x.count

In [52]:
x.count()

TypeError: count() takes at least 1 argument (0 given)

In [53]:
x.upper()

'HOWDY THERE'

In [54]:
x.isdecimal()

False

In [55]:
x.isalpha()

False

In [56]:
x.isalnum()

False

In [57]:
x.isascii()

True

In [63]:
x.split('h')

['Howdy T', 'ere']

In [64]:
print(x)

Howdy There

In [65]:
'Hello {}. Welcome to Instance {}'.format('Komrade', 'Communism')

'Hello Komrade. Welcome to Instance Communism'

In [66]:
'So you can switch order or duplicate {a} {b} {a} {c}'.format(a='words',b='wow',c='great',d='now')

'So you can switch order or duplicate words wow words great'

In [68]:
'Here is your information: Address: {add}, First Name: {fn}, Last Name: {ln}'.format(add='Texas', fn='Joe', ln='Bartz')

'Here is your information: Address: Texas, First Name: Joe, Last Name: Bartz'

In [70]:
'Formatting floating points {r:0.2f}'.format(r=1.25805)

'Formatting floating points 1.26'

In [72]:
name = 'Gerald'
print(f'Hello, his name is {name}')

Hello, his name is Gerald

## Lists

In [73]:
myList = ['hello', 32, 32.43]

In [74]:
len(myList)

3

In [76]:
myList[1:]

[32, 32.43]

In [77]:
secondList=['five', 6, 'Seven']

In [78]:
myList + secondList

['hello', 32, 32.43, 'five', 6, 'Seven']

In [79]:
len(myList+secondList)

6

In [80]:
myList.append('new item')

In [81]:
myList

['hello', 32, 32.43, 'new item']

In [82]:
myList.pop()

'new item'

In [83]:
myList

['hello', 32, 32.43]

In [84]:
myList.pop(0)

'hello'

In [85]:
myList

[32, 32.43]

In [86]:
myList = ['a', 'c', 'e', 'b', 'd']

In [87]:
myList.sort()

In [88]:
myList

['a', 'b', 'c', 'd', 'e']

In [89]:
myList.reverse()

In [90]:
myList

['e', 'd', 'c', 'b', 'a']

## Dictionaries

* Dict: Retrieved by key name, unordered and cannot be sorted
* List: Retrieved by location, can be indexed and sliced, can be ordered and sorted

In [10]:
categories_brands={'phone':['samsung', 'apple', 'huwaie'], 'internal_dict':{'inside_key':'brand'}, 'tv':['samsung', 'lg', 'sony']}

In [12]:
categories_brands['internal_dict']

{'inside_key': 'brand'}

In [13]:
categories_brands['tv'][2].upper()

'SONY'

### Append

In [14]:
categories_brands['fridge'] = ['fridgedaire', 'lg']

In [15]:
categories_brands

{'phone': ['samsung', 'apple', 'huwaie'],
 'internal_dict': {'inside_key': 'brand'},
 'tv': ['samsung', 'lg', 'sony'],
 'fridge': ['fridgedaire', 'lg']}

### Replace the value

In [22]:
categories_brands['internal_dict'] = ['sonos']

In [23]:
categories_brands['internal_dict']

['sonos']

### Common methods

In [17]:
categories_brands.keys()

dict_keys(['phone', 'internal_dict', 'tv', 'fridge'])

In [18]:
categories_brands.values()

dict_values([['samsung', 'apple', 'huwaie'], {'inside_key': 'brand'}, ['samsung', 'lg', 'sony'], ['fridgedaire', 'lg']])

In [19]:
categories_brands.items()

dict_items([('phone', ['samsung', 'apple', 'huwaie']), ('internal_dict', {'inside_key': 'brand'}), ('tv', ['samsung', 'lg', 'sony']), ('fridge', ['fridgedaire', 'lg'])])

## Tuples

* Similar to a list but are IMMUTABLE

In [31]:
t = (1,'two',3)

In [26]:
l = [1,23,32]

In [27]:
type(t)

tuple

In [28]:
type(l)

list

In [29]:
len(t)

3

In [30]:
len(l)

3

In [32]:
t[-1]

3

In [33]:
t = ('a', 'a', 'b')

In [34]:
t.count('a')

2

In [36]:
t.index('a') # returns first index of value it is looking for

0

In [37]:
l[0] = 'new'

In [38]:
l

['new', 23, 32]

In [39]:
t[0] = 'new'

TypeError: 'tuple' object does not support item assignment

## Sets

* unordered collections of unique elements

In [40]:
s = set()

In [41]:
s.add('item1')

In [42]:
s

{'item1'}

In [43]:
s.add('item2')

In [44]:
s

{'item1', 'item2'}

In [45]:
s.add('item1')

In [46]:
s

{'item1', 'item2'}

* you can only add unique values to a set
* usecase: cast a list to a set to filter on unique values

In [47]:
l = [1,1,1,2,2,3,3,3,3,3]

In [49]:
set(l)

{1, 2, 3}

## Booleans

In [50]:
type(True)

bool

In [51]:
1>2

False

In [55]:
b = None # to prevent undefined errors by using None keyword

In [56]:
type(b)

NoneType

## File I/O

In [59]:
%%writefile a.txt
Hello, how are you
doing today? I need
a new keyboard.

Writing a.txt

In [68]:
myfile = open('a.txt')

In [69]:
myfile.read()

'Hello, how are you\ndoing today? I need\na new keyboard.\n'

In [75]:
myfile.seek(0)

0

In [76]:
l = myfile.readlines()

In [77]:
l[1]

'doing today? I need\n'

In [78]:
myfile.close()

In [82]:
with open('a.txt') as newFile:
    contents = newFile.read()
    # automatically opens and closes a file, able to obtain contents

In [81]:
contents

'Hello, how are you\ndoing today? I need\na new keyboard.\n'

In [84]:
#modes: r,w,a,r+ = r+w,w+ = w+r
with open('a.txt', 'r') as f: 
    print(f.read())

Hello, how are you
doing today? I need
a new keyboard.

In [85]:
with open('a.txt', 'a') as f:
    f.write('This is a new line')

In [86]:
with open('a.txt', 'r') as f: 
    print(f.read())

Hello, how are you
doing today? I need
a new keyboard.
This is a new line

In [88]:
with open('b.txt', 'w') as f: 
    print(f.write('Here is a new file.\n'))

20

In [90]:
with open('b.txt', 'r') as f: 
    print(f.read().upper())

HERE IS A NEW FILE.

## Comparison Operators

In [96]:
2.0 == 2

True

In [95]:
'What' == 'what'

False

In [97]:
'What' != 'what'

True

In [100]:
#chaining comparisons 'and' 'or' 'not'
1<2 and 4<3

False

In [105]:
1<2 and 4>3

True

In [103]:
not 1<2

False

In [122]:
expectedScan = 'Accessibility Scan'
actualScan = 'Accessibility Scan'
pageCount = 5
#expectedScan == actualScan
#pageCount == 10
expectedScan == actualScan or pageCount == 5

True

## If Else Statements

In [130]:
condition = 0
if condition == True:
    print('Wow')
elif condition == False:
    print('Boo')
else:
    print('Woo')

Boo

In [129]:
loc = 'Gym'
if loc == 'Autoshop':
    print('Cars')
elif loc == 'Gym':
    print('Workout')
else: 
    print('Null')

Workout

## Loops

In [135]:
l = [1,23,45,666]
for num in l:
    print(num)

1
23
45
666

In [133]:
dic = {'key':'value', 'j':'b'}
for key in dic:
    print(key)

key
j

In [144]:
t = ([1,'a'], [2,'b'], [3,'c'])
for arr in t:
    if(arr[0]%2 == 0):
        print(arr)
    else:
        print(f'NonEvenNum: {arr[0]}')

NonEvenNum: 1
[2, 'b']
NonEvenNum: 3

In [149]:
l = [(1,2),(3,4),(5,6),(7,8)] #tuple unpacking
for a,b in l:
    print(f'{a} and {b}')

1 and 2
3 and 4
5 and 6
7 and 8

In [150]:
info = [('John','Smith','Texas','Collin',),('Jacob','Rube','Texas','Kaufman'),('Anderson','Jackson','Texas','Dallas')]
for fn,ln,state,county in info:
    print(f'This person: {fn} {ln} lives in {county}, {state}')

This person: John Smith lives in Collin, Texas
This person: Jacob Rube lives in Kaufman, Texas
This person: Anderson Jackson lives in Dallas, Texas

In [151]:
dic = {'key':'value', 'j':'b', 'las':'but'} #only iterates through the keys
for i in dic:
    print(i)

key
j
las

In [154]:
dic = {'key':'value', 'j':'b', 'las':'but'} #use tuple unpacking in conjuction with .items()
for k,v in dic.items():
    print(v)

value
b
but

## While Loops

In [158]:
condition = True
num = 0
while num < 10:
    num += 1
    print(f'num: {num}')
else:
    print(f'done!')

num: 1
num: 2
num: 3
num: 4
num: 5
num: 6
num: 7
num: 8
num: 9
num: 10
done!

In [170]:
#break, continue, pass
x = [1,2,3]
num = None
for i in x:
    if(i == 2):
        continue # | break | pass
    print(i)

1
3

## Useful Operators

In [177]:
l = [1,2,3]
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [178]:
l = list(range(0,10)) #generator
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [179]:
index = 0
for letter in 'abcde':
    print(f'At index {index} the letter is {letter}')
    index += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [184]:
#to replicate 179 with enumerate
word = 'abcde'
for index,letter in enumerate(word):
    print(f'{index} and {letter}')

0 and a
1 and b
2 and c
3 and d
4 and e

In [187]:
list1 = [1,2,3,4,5]
list2 = [11,22,33]
for item in zip(list1, list2): #zip operator 'zips' together multiple lists into tuples per index
    print(item)

(1, 11)
(2, 22)
(3, 33)

In [190]:
'x' in ['a','b','C'] # in keyword to automatically perform check

False

In [194]:
dic = {'key':'a', 'mykey':'b'}
#'a' in dic.values()
'key' in dic.keys()

True

In [196]:
l = [1,2,3]
#min(l)
max(l)

3

In [197]:
from random import shuffle

In [198]:
l = [1,2,3,4,5,6,7,8,9,10]
shuffle(l)
l

[10, 8, 6, 4, 7, 1, 2, 3, 5, 9]

In [199]:
from random import randint

In [203]:
num = randint(0,55)
print(num)

13

In [211]:
user_input = input('Enter something: ')

Enter something: yada

# List Comprehensions

* use when you are repeatedly appending
* flattens out for loops

In [219]:
l = [letter for letter in 'abcde'] #element for element in iterable_object
l

['a', 'b', 'c', 'd', 'e']

In [222]:
i = [num**2 for num in range(0,11,3)] #can perform operations on the comprehended element
i

[0, 9, 36, 81]

In [226]:
i = [num for num in range(0,13) if num%4==0] #
i

[0, 4, 8, 12]

In [228]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)] # order has switched to put condition in front of for loop
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [231]:
nested_result = [num+2 for num in [1,2,3] for num in [3,2,1]]
nested_result

[5, 4, 3, 5, 4, 3, 5, 4, 3]

# Methods and Functions